*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  color: #022308;
}

.app-wrapper {
  max-width: 1384px;
  margin: 19px auto 0;
  display: grid;
  grid-template-areas:
    "h h"
    "n c";
  grid-template-rows: 74px 1fr;
  grid-template-columns: 2fr 10fr;
  gap: 20px;
}