*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app-wrapper {
  max-width: 1384px;
  margin: 19px auto 0;
  display: grid;
  grid-template-areas:
    "h h"
    "n c";
  grid-template-rows: 74px 1fr;
  grid-template-columns: 2fr 10fr;
  gap: 20px;


}

.header {
  grid-area: h;
  background-color: #1f13ce;
}

.header__logo {
  height: 65px;
  display: block;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.navigation {
  grid-area: n;
  background-color: #1f13ce;
  min-height: 910px;
}

.navigation__item {
  list-style-type: none;
  margin-left: 18px;
  margin-right: 18px;
}

.navigation__item:last-child {
  margin-top: 50px;
}

.navigation__link {
  text-decoration: none;
  color: #fff;
  font-size: 34px;
  line-height: 1.5;
}

.content {
  grid-area: c;
  height: 696px;

}

.content__img-top {
  width: 100%;
  height: 224px;
}

.content__account {
  height: 250px;
  display: flex;
  margin-top: 20px;
  margin-bottom: 40px;
}

.content__account-img {
  display: block;
  width: 174px;
  height: 164px;
}

.content__account-info {
  margin-left: 40px;

}

.content__account-info div {
  color: #4a4747;
  font-size: 28px;
}

.content__account-name {
  margin-bottom: 50px;
}

.content__account-info .content__account-name {
  font-size: 34px;
}

.content__posts span {
  display: block;
  color: #4a4747;
  font-size: 34px;
  margin-bottom: 20px;
}

.content__input {
  display: block;
  width: 100%;
  border: none;
  background-color: #ccc;
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 40px;
  font-size: 20px;
  color: #525050;
  margin-bottom: 20px;
}

.content__btn {
  display: block;
  width: 200px;
  background-color: #1f13ce;
  border: none;
  font-size: 28px;
  color: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
  padding-left: 20px;
  margin-left: auto;
  margin-bottom: 20px;
  cursor: pointer;
}

.post-one {
  color: #4a4747;
  font-size: 28px;
  margin-bottom: 80px;
  padding-left: 60px;
  position: relative;
}

.post-two {
  color: #4a4747;
  font-size: 28px;
  padding-left: 60px;
  position: relative;
}

.post-one::before,
.post-two::before {
  position: absolute;
  content: "";
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: yellow;
  top: 5px;
  left: 0;
  z-index: 100;

}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
} */